@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.menu {
  display: -ms-grid;
  display: grid;
  position: fixed;
}

.menu a {
  border: 1px solid black;
  border-radius: 0px 10px 10px 0px;
  color: black;
  cursor: pointer;
  font-weight: 700;
  left: -150px;
  margin-top: 10px;
  padding: 10px 50px 10px 25px;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.5s, left 0.5s;
  transition: color 0.5s, left 0.5s;
}

.menu a:hover {
  color: white;
  left: 0;
}

.menu #nm {
  background-color: #5ae2a9;
}

.menu #jm {
  background-color: #aad742;
}

.menu #im {
  background-color: #fdce81;
}

.menu #am {
  background-color: #ff9e7a;
}

.newbie {
  height: 100vh;
}

.newbie h1 {
  color: #5ae2a9;
}

.junior {
  margin-top: 25px;
  height: 100vh;
}

.junior h1 {
  color: #aad742;
}

.intermediate {
  height: 100vh;
}

.intermediate h1 {
  color: #fdce81;
}

.advance {
  height: 100vh;
}

.advance h1 {
  color: #ff9e7a;
}

.project {
  margin-left: 15%;
}

.projects {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.blocks {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 250px;
  margin: 25px;
  padding: 10px;
  width: 250px;
}

.blocks img {
  width: 250px;
}

.blocks div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 10px;
}

.blocks a {
  color: #00e;
}

.blocks a:active {
  color: #00e;
}

.blocks i {
  font-size: 30px;
}
